# Python
__pycache__/
*.py[cod]
.DS_Store
Ögelerle Yeni Klasör/*
uploads/*
Öğelerle Yeni Klasör/model.json
.gitignore
Öğelerle Yeni Klasör/MyAgent.py
Öğelerle Yeni Klasör/MyAgent2.py
.gitignore
Öğelerle Yeni Klasör/model2.json

Egitim_Test_Ajanlari/ajan1_avci.py
Egitim_Test_Ajanlari/ajan2_guvenli.py
